/build
/install
/log
src/voice_processing/resource/.env
src/voice_processing/resource/.env
src/pick_and_place_voice/resource/.env

# Ignore weight files
*.pt

# Ignore firebase/google credentials
*firebase-adminsdk*.json
